button {
  all: unset;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid var(--Dark-300);
  border-radius: 2px;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  width: 100%;

  &:hover {
    border: 1px solid var(--Dark-100);
    background-color: var(--Dark-500);
  }
  &:focus-visible {
    outline: 2px solid var(--Info-700);
  }
}
ul,
li {
  all: unset;
}

.trigger {
  width: 200px;
}
.selectIcon {
  display: flex;
  align-items: center;
}
.item {
  width: 198px;
  padding: 6px 12px;
  background-color: var(--Dark-900);
  &:hover {
    background-color: var(--Primary-900);
    color: var(--Primary-300);
  }
}
.text {
  display: flex;
  align-items: flex-start;
}
.content {
  border: 1px solid var(--Dark-300);
}
