.table {
  border-collapse: collapse;
  color: var(--color-text-primary);
  border: 1px solid var(--Dark-500, red);
  border-radius: var(--border-radius-s);
}

.headCell {
  padding: 6px 24px;
  background-color: var(--Dark-500);
}

.tableCell {
  padding: 6px 24px;
  background-color: var(--Dark-900);
  border-bottom: 1px solid var(--Dark-500);
}

.empty {
  display: flex;
  justify-content: center;
  width: 100%;
}
