.container {
  .content {
    padding: 26px 136px 12px 137.5px;
    display: flex;
    flex-direction: column;
    gap: 36px;
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .menu {
      display: flex;
      justify-content: space-between;
      gap: 24px;
    }
    .icons {
      display: flex;
      gap: 10px;
    }
  }
}
