@mixin button {
  all: unset;
  cursor: pointer;
  display: flex;
  padding: 0.375rem 1.75rem;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
}
.primary {
  @include button;
  background: var(--Primary-500);
  box-shadow: 0px 4px 18px 0px rgba(140, 97, 255, 0.35);
  color: var(--Light-100);

  &:hover {
    background: var(--Primary-300);
  }
  &:active {
    background: var(--Primary-700);
  }
  &:focus-visible {
    outline: 2px solid var(--Info-700);
    background: var(--Primary-500);
  }
  &:disabled {
    background: var(--Primary-900);
    color: var(--Light-900);
  }
}
.secondary {
  @include button;
  background: var(--Dark-300);
  box-shadow: 0px 2px 10px 0px rgba(109, 109, 109, 0.25);
  color: var(--Light-100);
  &:hover {
    background: var(--Dark-100);
  }
  &:active {
    background: var(--Dark-500);
  }
  &:focus-visible {
    outline: 2px solid var(--Info-700);
    background: var(--Dark-300);
  }
  &:disabled {
    background: var(--Dark-300);
    color: var(--Light-900);
  }
}
.tertiary {
  @include button;
  border: 1px solid var(--Primary-500);
  color: var(--Primary-500);
  &:hover {
    border: 1px solid var(--Primary-700);
    background: var(--Dark-500,);
    color: var(--Primary-500);
  }
  &:active {
    border: 1px solid var(--Primary-700);
    background: var(--Primary-900);
    color: var(--Primary-500);
  }
  &:focus-visible {
    outline: 2px solid var(--Info-700);
    color: var(--Primary-500);
  }
  &:disabled {
    border: 1px solid var(--Primary-900);
    color: var(--Primary-900);
  }
}
.link {
  @include button;
  padding: 0.375rem 0rem;
  align-items: flex-start;
  color: var(--Primary-500);
  font-size: var(--font-size-m);
  padding: 4px;
  &:hover {
    color: var(--Primary-300);
  }
  &:active {
    color: var(--Primary-700);
  }
  &:focus-visible {
    border-radius: 130px;
    outline: 2px solid var(--Info-700);
  }
  &:disabled {
    color: var(--Primary-900);
  }
}
.fullWidth {
  @include button;
  width: 100%;
}
