@mixin typography($fontSize, $lineHeight, $fontWeight) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  margin: 0;
  color: var(--color-text-primary);
  width: 100%;
  text-align: center;
}

.large {
  @include typography(var(--font-size-xxl), var(--line-height-l), var(--font-weight-bold));
}
.h1 {
  @include typography(var(--font-size-xxl), var(--line-height-l), var(--font-weight-bold));
}
.h2 {
  @include typography(var(--font-size-l), var(--line-height-m), var(--font-weight-bold));
}
.h3 {
  @include typography(var(--font-size-m), var(--line-height-m), var(--font-weight-bold));
}
.body1 {
  @include typography(var(--font-size-m), var(--line-height-m), var(--font-weight-regular));
}
.subtitle1 {
  @include typography(var(--font-size-m), var(--line-height-m), var(--font-weight-bold));
}
.body2 {
  @include typography(var(--font-size-s), var(--line-height-m), var(--font-weight-regular));
}
.subtitle2 {
  @include typography(var(--font-size-s), var(--line-height-m), var(--font-weight-bold));
}
.caption {
  @include typography(var(--font-size-xs), var(--line-height-s), var(--font-weight-regular));
}
.overline {
  @include typography(var(--font-size-xs), var(--line-height-s), var(--font-weight-bold));
}
