.container {
  width: 420px;
  height: 528px;
  margin: 0 auto;
  margin-top: 36px;
  background-color: var(--Dark-700);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .content {
    width: 357px;
    height: 470px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;

    .forgotPassword {
      color: var(--Light-100);
      display: inline-block;
      text-align: right;
    }
    .checkbox {
      width: 100%;
      margin-left: -8px;
    }
    .signUp {
      text-decoration: underline;
    }
  }
}
